path/to/embeddings.pkl filter=lfs diff=lfs merge=lfs -text
D:/+++++Z[[:space:]]STORAGE++++++++/Machine[[:space:]]Learning[[:space:]]Project/FashionRecommender/embeddings.pkl filter=lfs diff=lfs merge=lfs -text
D:/+++++Z[[:space:]]STORAGE++++++++/Machine[[:space:]]Learning[[:space:]]Project/FashionRecommender/embeddings.pkl filter=lfs diff=lfs merge=lfs -text
